body, html{ height: 100%;
            margin: 0%;
            padding: 0%;}

main{ height: 100%;
    display: flex;}

.izquierda{width: 70%;
            height: 100%;
            }
header{ height: 40px;
        background-color: fuchsia;
        display: flex;
        justify-content: center;
        align-items: center;}    

.contenido{height: calc(100% - 80px);
            background-color: gold;
            display: flex;
            justify-content: center;
            align-items: center;}

footer{ height: 40px;
        background-color: hotpink;
        display: flex;
        justify-content: center;
        align-items: center;}

.derecha{ height: 100%;
        width: 30%;
        background-color: indianred;
        display: flex;
        align-items: center;
        justify-content: center;}
